.tablas-opciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #0a80fe;
    border-radius: 10px;
    margin: 5px;
    background-color: #040127;
}

.tablas-bases {
    width: 100%;
    padding: 5px;
    max-height: 85vh;
    overflow-y: auto;
    scrollbar-width: thin;
    gap:5px;
}