.td-tableOpction-title {
    font-size: 14px;
    text-align: center;
    width: 64px;
    font-weight: bold;
    height: 20px;
    vertical-align: middle;
}

.table-callput{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap:5px;
}

.table-call{
    width: 100%;
}

.table-call > table{
    width: 100%;
}

.call-put{
    background-color: rgb(43, 54, 72);
    position: relative;
}

.plus-operation {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.table-call > table{
    width: 100%;
}

#base {
    background-color: rgb(17, 64, 104);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    font-weight: bold;
}

.option-table{
    margin-bottom: 5px;
}