.tabla-operaciones {
    width: 100%;
    margin-bottom: 10px;
}

.tabla-operaciones > th{
    width: 100%;
}

.td-tableOpction-title {
    font-size: 14px;
    text-align: center;
    width: 64px;
    font-weight: bold;
    height: 20px;
    vertical-align: middle;
}

.call-put{
    background-color: rgb(43, 54, 72);
}

#base {
    background-color: rgb(17, 64, 104);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
