.td-tableOption {
  font-size: 12px;
  width: 64px;
  font-weight: normal;
  height: 20px;
  vertical-align: middle;
  position: relative;
  border: 1px solid #ccc;  
}

.td-tableOption:active {
  border-radius: 2px;
  outline: 2px solid #09f;
}

.input-row {
  border:0;
  pointer-events: none;
  width: 100%;
  text-align: right;
}

.td-tableOption > span,input {
  position: absolute;
  inset: 0;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}